body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  /* background-color: #021d22; */
  background-color: #0a0d16;
  /* background-color: #0c2e42; */
  /* background: linear-gradient( #0c2e42, #4c80e9); */
}

/* #14192a
#0a0d16
#132d34 
#0f1320
*/